/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 janv. 2017, 15:04:08
    Author     : alan
*/
body{
    background-color:#E5E0FE;
}

/*Navbar*/
.navbar, .nav, .dropdown-menu{
    margin-bottom: 0px;
    background-color: #3097D1;
    border-radius:0px;
    border: 0px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand, .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
    color: black;
}
.dropdown-header {
    color : black;
}

/*Footer*/
.footer {
    position: absolute;
    text-align: center;
    padding-bottom: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*Robotino*/
.robotino{
    border: solid 4px black;
    min-height: 700px;
    padding-left:0;
    padding-right:0;
}
.commandes {
    border-top: solid 4px black;
    border-right: solid 4px black;
    border-bottom: hidden 4px ;
    position: absolute; /* le bloc se positionnera en haut à gauche de ta page car il n'a pas de bloc parent */
    bottom: 0;
    left:0;
}
.commandes > form {
    padding: 10px;
}
.commandes > form > h2 {
    margin-top:0;
}
.navbar-menu{
    position: absolute; /* le bloc se positionnera en haut à gauche de ta page car il n'a pas de bloc parent */
    top: 0;
    right:0;
    background-color: #E5E0FE;
}
dl{
    height:40px;
    margin:0;padding:0;
    display:block;
    float:left;
    background-color: #3097D1;
}

dd ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
dd ul li a {
    color: white;
    display: block;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    background: #3097D1;
    width: 150px;
    text-align: center;
}

dt{
    width:150px;
    display: block;
    height:40px;
    color: #fff;
    line-height: 40px;
    text-align: center;
}
dl dd{
    display: none;
}
dd{
    display: block;
    margin: 0;
    padding: 0;
}
dl:hover dd{
    display: block;
}
.menu{
    background-color: #D2D3D3;
}
img  {
    max-width: 100%;
    max-height: 100%;
}
.img_carte{
    position: absolute;
    bottom: 0;
    right:0;
}
.carte{
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 0;
    right:0;
}
.liensBoutonsRobotino{
    margin-bottom: 0px;
}
.btn.boutonsRobotino{
    width: 100px;
}


/*Partie connexion*/
.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}



/*Page d'accueil*/
.carousel-page
{
    width:100%;
    height:auto;
    background-color:#ffffff;
    color:white;
}
p.date{
    font-style: italic;
    color: black;
    font-size: small;
}
h2.title {
    margin-bottom:0px;
}

/*Articles*/
.post-layout {
    background-color: white;
    border-radius: 6px;
    margin-top:50px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.content-post {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}