/*-------------------------------------------
------------------Navbar---------------------
---------------------------------------------*/
.navbar{
    display: table;
    width: 100%;
    transition-duration: 0.5s;
	background-color:transparent;
}
.navbar #navbar {
    overflow-x: hidden;
}
.container{
    vertical-align: middle;
}

.navbar, .nav, .dropdown-menu{
    margin-bottom: 0px;
    border-radius:0px;
    border: 0px;
}
.navbar-brand, .navbar-default .navbar-brand{
    color: #FB6900;
}
.navbar-default .navbar-nav > li > a, .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: rgba(255,255,255,0.7);
}
/*Quand on selectionne un onglet de la barre de navigation*/
.nav>li>a:hover, .nav>li>a:focus,.sidebar .nav>li>a:hover, .sidebar .nav>li>a:focus , .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: /*#3097D1*/ /*#005479*/ #007E80;
    background-color: transparent;
    font-size: larger;
}
/*Quand on passe la souris sur la marque*/
.navbar-brand:hover, .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: #F63700;
    font-size: xx-large;
}
.dropdown-header {
    color : white;
}
/*-------------------------------------------
------------------Sidebar--------------------
---------------------------------------------*/
.sidebar{
    position: fixed; /* Stay in place */
    z-index: 10;
    transition-duration: 0.5s;
    background-color: transparent;
    width: 250px;
    top: 0;
}
.sidebar #navbar{
    padding-top: 10px;
    padding-left: 0;
    margin-left: 0;
}
.sidebar .nav>li{
    width:250px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.sidebar .nav>li>a {
    padding: 15px 15px 15px 15px;
    display: block;
    color: #3d3d3d;
    text-decoration: none;
}

@media (min-height: 600px) {
    .sidebar #navbar {
        padding-top: 300px;
    }
    .sidebar{
        top: 50px;
    }
    .sidebar .nav>li {
        margin-bottom: 60px;
    }
}